
body{
    background-color: black;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    

}

.Boxes1{
    margin-top: 3rem;
    width: 300px;
    height: 300px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
   
    

}

#box1{
    color: rgb(77, 18, 18);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;

}
.img1{
    background-color: rgba(42, 63, 165, 0.176);
    /* opacity: 0.5; */
    display: flex;
    flex-direction: column;

    background-size: contain;
    background-repeat: no-repeat;
    
}

.img2{
    /* width: 200px;
    height: 200px; */
    background-color:rgba(157, 19, 104, 0.176);
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
}



.revolution{
    animation: rotate 2s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
    
}


.img1 img, .img2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
}
#box2{
    /* background-color: brown; */
    color: rgb(77, 18, 18);
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;

}

.fillbox{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 500;;
    height: 80px;
    display: flex;
    justify-content: center;
    color: #a52a2a;
    animation: Boom 2s ease-in-out;
}







.turn{
    /* background-color:  #a52a2a; */
    color: #a52a2a;
    border: none;
    border-radius: 50%;
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #a52a2a;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(165,42,42,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(165,42,42,1);
box-shadow: 10px 10px 5px 0px rgba(165,42,42,1);
    /* border: 1px solid  #a52a2a; */

}

.turn2{
    /* background-color: #a52a2a; */
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    color: #a52a2a;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(165,42,42,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(165,42,42,1);
box-shadow: 10px 10px 5px 0px rgba(165,42,42,1);
}

.control{
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.Dice{
    width: 100%;
    font-size: 4rem;
    color: #a52a2a;
    text-align: center;
}

.terms{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.play{
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: #ae999927;
    font-size: 15px;
    color: white;
}

.play:hover{
    transform: scale(110%);
}



@media (max-width:650px) {
    .container{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .img1{
        width: 150px;
        height: 150px;
        
    }

    .img2{
        width: 150px;
        height: 150px;
    }


}